body {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat repeat-y;
  background-size: 100%;
  font-family: 'Verdana';
  text-align: center;
}

.titulo {
  font-family: Verdana;
  font-weight: bold;
  color: aliceblue;
  -webkit-text-stroke: 1px black !important;
}

h3.titulo {
  color: red;
}

#cola {
  background-color: rgba(245, 69, 57, 0.945);
}

#sonando {
  background-color: rgba(245, 154, 17, 0.945);
}

#cancion_sonando {
  position: relative;
}


#cancion_sonando_span {
  padding: 0.7em;
}

#barra-progreso {
  background-color: rgb(168, 96, 2);
  border-radius: 10px;
}

#comentarios {
  background-color: rgba(245, 69, 57, 0.945);
}

#canciones {
  background-color: rgba(83, 185, 0, 0.884);
}

#juegos {
  background-color: rgba(245, 154, 17, 0.945);
  margin-bottom: 2em;
}

.text-white {
  color: aliceblue;
  -webkit-text-stroke: 0.3px black;
}

.bordes {
  border-radius: 10px;
}

.cont {
  padding: 0.1em 1em 1em 1em;
  margin: 1em 0em 1em 0em;
}

.cont>h3 {
  margin: 1em 0 1em 0;
}

.cont>div {
  margin: 1em 0em 1em 0em;
  padding: 0.7em;
  background-color: aliceblue;
  opacity: 70%;
  border-radius: 10px;
}

.seleccionable {
  opacity: 100% !important;
}